[class^="col"] {
  min-height: 60px;
  border: 1px dashed black;
}

section {
  margin-bottom: 50px;
}

/* HEADER */

/* SPOTLIGHT */

/* PORTFOLIO */

/* ABOUT */

/* CONTACT */

/* FOOTER */

/* BACKGROUND COLORS */

.bg-blue {
  background-color: #3a546d;
}

.bg-dark-blue {
  background-color: #2c3e50;
}

.bg-green {
  background-color: #1abc9c;
}
