[class^="col"] {
  min-height: 60px;
  /* border: 1px dashed black; */
}

section {
  margin-bottom: 50px;
}

/* HEADER */

header {
  min-height: 80px;
}

/* SPOTLIGHT */

#spotlight {
  min-height: 400px;
}

/* PORTFOLIO */

.img-space {
  min-height: 300px;
}

/* ABOUT */

/* CONTACT */

/* FOOTER */

.footer-top {
  min-height: 300px;
}

.footer-bottom {
  min-height: 150px;
}

/* BACKGROUND COLORS */

.bg-blue {
  background-color: #3a546d;
}

.bg-dark-blue {
  background-color: #2c3e50;
}

.bg-green {
  background-color: #1abc9c;
}
